* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fontOswald {
  font-family: Oswald, sans-serif;
}

.fontQuicksand {
  font-family: 'Quicksand', sans-serif;
}

body {
  font-family: 'Quicksand', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.paddingplus {
  padding-top: 130px !important;
}

.paddingplustwo {
  padding-top: 210px !important;
}

.header {
  height: 100%;
  padding: 0px 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(240, 187, 69, 0.8)), to(rgba(235, 57, 113, 0.6))), url(../images/fun-fact-bg.jpg);
  background: linear-gradient(rgba(240, 187, 69, 0.8), rgba(235, 57, 113, 0.6)), url(../images/fun-fact-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.header .iconbar {
  display: none;
  color: white;
}

.header .fixcung {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Quicksand', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 18vh;
  padding: 0px 11%;
  z-index: 99999999;
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.header .fixcung .logo {
  margin-top: 3%;
  width: 30%;
}

.header .fixcung .logo img {
  display: block;
}

.header .fixcung .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 3%;
}

.header .fixcung .navbar ul li {
  position: relative;
  padding: 10px 0px;
  margin-left: 15px;
}

.header .fixcung .navbar ul li a {
  height: 100%;
  margin: 6px;
  font-weight: 500;
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.55);
}

.header .fixcung .active {
  border-bottom: 2px solid rgba(0, 0, 0, 0.55);
}

.header .topheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.header .topheader .logo {
  margin-top: 3%;
  width: 30%;
}

.header .topheader .logo img {
  display: block;
}

.header .topheader .navbar {
  background: rgba(0, 0, 0, 0) !important;
  height: 18vh;
}

.header .topheader .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 3%;
}

.header .topheader .navbar ul li {
  padding: 10px 0px;
  margin-left: 15px;
}

.header .topheader .navbar ul li a {
  height: 100%;
  margin: 6px;
  text-decoration: none;
  list-style: none;
  color: white;
}

.header .topheader .active {
  border-bottom: 2px solid white !important;
}

.header .bottomheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

.header .bottomheader .chubottomheader {
  padding: 50px 30px;
  font-family: 'Quicksand', sans-serif;
}

.header .bottomheader .chubottomheader .headertitle {
  font-size: 2.5em;
  color: white;
  padding: 30px 0px;
}

.header .bottomheader .chubottomheader p {
  font-size: 17px;
  color: white;
  margin-bottom: 40px;
  text-align: justify;
}

.header .bottomheader .chubottomheader button {
  width: 165px;
  height: 45px;
  border-radius: 20px;
  border: 2px solid white;
  display: inline-block;
  margin-left: 10px;
  background: rgba(0, 0, 0, 0);
  color: white;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 40px;
}

.header .bottomheader .chubottomheader button i {
  width: 10px;
  height: 10px;
  font-size: 20px;
  margin-right: 10px;
}

.header .bottomheader .chubottomheader button:hover {
  background: white;
  color: #f0bb45;
}

.header .bottomheader .anhbottomheader {
  height: auto;
}

.header .bottomheader .anhbottomheader img {
  width: 94%;
  padding: 9% 10%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header .bottomheader .anhbottomheader img :hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.header .bottomheader .anhbottomheader :hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.gioithieu {
  margin-bottom: 30px;
  margin-top: 30px;
}

.title {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.title span {
  display: block;
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 30px;
}

.title p {
  padding: 0px 10%;
  font-size: 20px;
}

.new_features_icon {
  position: relative;
  margin-bottom: 30px;
}

.new_features_icon h3 {
  margin-bottom: 30px !important;
}

.slideInDown {
  -webkit-animation-name: slideInDown;
          animation-name: slideInDown;
}

.new_ex_features_item .new_features_icon img + img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

p.p_font.wow.fadeInUp {
  padding: 10px 11px;
  text-align: justify;
}

.videogioithieu {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(240, 187, 69, 0.8)), to(rgba(235, 57, 113, 0.6))), url(../images/fun-fact-bg.jpg);
  background: linear-gradient(rgba(240, 187, 69, 0.8), rgba(235, 57, 113, 0.6)), url(../images/fun-fact-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 20px 0px;
}

.videogioithieu span {
  color: #eee;
}

.videogioithieu .video-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
  padding-left: 10%;
}

.videogioithieu .video-info .clip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.videogioithieu .video-info button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 10%;
}

#manhinhungdung {
  margin-top: 30px;
  margin-bottom: 60px;
}

#manhinhungdung h2 {
  padding: 20px;
  margin-bottom: 30px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #918d8d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.swiper-slide-active {
  width: 323.333px;
  -webkit-transform: translate3d(0px, 0px, -149.845px) rotateX(0deg) rotateY(0deg);
          transform: translate3d(0px, 0px, -149.845px) rotateX(0deg) rotateY(0deg);
  z-index: 0;
  -webkit-transition-duration: 0ms;
          transition-duration: 0ms;
}

.swiper-slide-next {
  width: 323.333px;
  -webkit-transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg);
          transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg);
  z-index: 1;
  -webkit-transition-duration: 0ms;
          transition-duration: 0ms;
}

.swiper-slide-prev {
  width: 323.333px;
  -webkit-transform: translate3d(0px, 0px, -300.155px) rotateX(0deg) rotateY(0deg);
          transform: translate3d(0px, 0px, -300.155px) rotateX(0deg) rotateY(0deg);
  z-index: -1;
  -webkit-transition-duration: 0ms;
          transition-duration: 0ms;
}

.economic {
  padding: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(240, 187, 69, 0.8)), to(rgba(235, 57, 113, 0.6))), url(../images/backgroundfooter.png);
  background: linear-gradient(rgba(240, 187, 69, 0.8), rgba(235, 57, 113, 0.6)), url(../images/backgroundfooter.png);
  background-size: cover;
  background-attachment: fixed;
}

.economic .title {
  margin-bottom: 0px;
}

.economic .title span {
  color: white;
}

.panel-group.faq-inner-accordion {
  padding: 0px 11%;
}

.faq-inner-accordion .panel {
  border-radius: 5px;
  border: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
}

.panel.panel-default {
  margin: 20px;
  padding: 5px 20px;
}

.faq-inner-accordion .panel .panel-heading .panel-title a {
  display: block;
  font-family: 'Quicksand',sans-serif;
  font-size: 20px;
  color: #252525;
  position: relative;
  margin-top: 5px;
}

.panel-title a > i {
  display: initial;
  font-size: 12px;
  padding: 10px 3px;
}

.panel-title a {
  text-decoration: none;
}

.panel-title a:hover {
  color: rgba(56, 55, 55, 0.64) !important;
}

.app-btn {
  display: inline-block;
  width: 200px;
  height: 60px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  line-height: 57px;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

button.btn-apply:hover {
  background: white;
  color: #6dd5f2;
}

.call-action3 .call-mobile-img {
  position: relative;
  z-index: 1;
}

.call-action3 .call-mobile-img img {
  position: absolute;
  bottom: -410px;
  z-index: -1;
}

.call-action3 .call-text h2 {
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  font-size: 35px;
  line-height: 60px;
  font-family: Quicksand, serif, sans-serif;
  padding-bottom: 17px;
  color: white;
  font-weight: 700 !important;
}

.app-btn + .app-btn {
  margin-left: 8px;
}

.call-action3 .call-text p {
  font: 400 16px / 28px Quicksand, serif, sans-serif;
  padding-bottom: 42px;
  padding-right: 110px;
  color: white;
}

.app-btn:hover img {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.khachhangtieubieu {
  margin-top: 60px;
  margin-bottom: 80px;
}

.khachhangtieubieu img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.section_title {
  text-align: center;
  max-width: 630px;
  margin: 0px auto 40px;
}

.cocaucongty {
  margin-top: 60px;
}

.cocaucongty .listcocaucongty {
  margin-top: 40px;
}

.cocaucongty .listcocaucongty .tenthanhphan {
  position: relative;
}

.cocaucongty .listcocaucongty .tenthanhphan a img {
  border-radius: 7px;
  width: 100%;
  height: 100%;
  border: 1px solid white;
}

.cocaucongty .listcocaucongty .tenthanhphan a .textlist {
  position: absolute;
  width: 91%;
  bottom: 0px;
  border-radius: 0px 0px 7px 7px;
  display: block !important;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  color: #e5e5e5;
  padding: 10px 10px 10px 10px;
}

.tintuc {
  width: 100%;
  height: auto;
  margin-bottom: 60px;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  border-radius: 20px;
  padding: 5px;
  z-index: -5;
}

.thumbnail-blog h6 {
  font: 400 15px / 26px Quicksand, serif, sans-serif;
  color: #999999;
  padding: 5px 0px;
}

.thumbnail-blog h5 {
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0px;
  font-weight: 500;
  color: #444444;
  text-transform: capitalize;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  -webkit-text-fill-color: initial;
  margin-bottom: 20px;
}

.thumbnail-blog a {
  font-size: 15px;
  line-height: 30px;
  font-family: Quicksand, serif, sans-serif;
  font-weight: 500;
  color: #666666;
}

.thumbnail-blog.thumbnail-img {
  border-radius: 10px;
  border: 1px solid #eeeeee;
}

.thumbnail-img {
  height: 200px;
}

.footer {
  font-family: "Quicksand",sans-serif;
  min-height: 0px;
  background: none center top no-repeat #023042;
  color: white;
  font-weight: bold;
}

.footertieude {
  font-family: "Quicksand",sans-serif;
  font-size: 35px;
  font-weight: normal;
  font-style: normal;
  color: white;
  padding: 70px 0px 25px;
  display: block;
  margin-top: 40px;
  border-bottom: 1px solid white;
}

.footertitle {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  color: white;
  padding: 5px 0px;
  display: block;
  margin-bottom: 10px;
}

.footerinfo {
  font-size: 15px;
}

.footer a {
  font-weight: 400;
  text-decoration: none;
  display: block;
  color: #bfbfbf;
  cursor: pointer;
  margin-bottom: 10px;
}

.footer a:hover {
  color: white;
}

.footer-bot {
  text-align: center;
  padding: 20px 0px;
  font-size: 15px;
  color: #bfbfbf;
}

.footer-mid {
  margin-top: 50px;
  margin-bottom: 20px;
}

.footerinfo-b a {
  font-size: 25px;
  margin: 10px;
  display: inline-block !important;
}

@media (max-width: 768px) {
  * {
    margin: 0px;
    padding: 0px;
  }
  .header .bottomheader .anhbottomheader img {
    display: none;
  }
}

@media (max-width: 992px) {
  * {
    margin: 0px;
    padding: 0px;
  }
  .header .iconbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 30px;
    padding-right: 8%;
    cursor: pointer;
  }
  .header .hienlen {
    opacity: 1 !important;
    visibility: initial !important;
  }
  .header .topheader {
    height: 18vh;
    position: relative;
  }
  .header .topheader .logo {
    margin-top: 6% !important;
  }
  .header .topheader .logo img {
    margin: 0 auto;
  }
  .header .topheader .navbar {
    height: 15vh;
    opacity: 0;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.55) !important;
    height: 91vh;
    width: 30%;
    text-align: center;
  }
  .header .topheader .navbar ul {
    display: block;
    width: 100%;
    height: 100%;
  }
  .header .topheader .navbar ul li {
    padding: 20px;
  }
  .header .topheader .navbar ul li:hover {
    background: #cfd2cb7a;
  }
  .header .fixcung {
    height: 15vh;
    color: rgba(0, 0, 0, 0.55) !important;
  }
  .header .fixcung .logo {
    width: 30%;
    margin-top: 6% !important;
  }
  .header .fixcung .logo img {
    margin: 0 auto;
  }
  .header .fixcung .navbar {
    height: 15vh;
    opacity: 0;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.55) !important;
    height: 91vh;
    width: 30%;
    text-align: center;
  }
  .header .fixcung .navbar ul {
    display: block;
    width: 100%;
    height: 100%;
  }
  .header .fixcung .navbar ul li {
    padding: 20px;
  }
  .header .fixcung .navbar ul li:hover {
    background: #cfd2cb7a;
  }
}

@media (max-width: 576px) {
  * {
    margin: 0px;
    padding: 0px;
  }
  .header .topheader .navbar {
    width: 50%;
  }
  .header .fixcung {
    height: 15vh !important;
  }
  .header .fixcung .navbar {
    width: 50%;
  }
  .header .bottomheader {
    display: block;
  }
  .header .bottomheader .chubottomheader {
    padding: 0px 30px 30px;
  }
  .header .bottomheader .chubottomheader .headertitle {
    font-size: 25px;
    text-align: center;
    padding: 20px 0px;
  }
  .header .bottomheader .chubottomheader p {
    font-size: 13px;
    margin-bottom: 20px;
  }
  .header .bottomheader .chubottomheader button {
    font-size: 14px;
    margin-bottom: 30px;
    width: 139px;
  }
  .title span {
    font-size: 26px;
  }
  .title p {
    font-size: 16px;
  }
  .gioithieu .row .col-md-3 p {
    font-size: 14px;
  }
  .videogioithieu .video-info {
    padding-left: 0;
    margin: 0;
  }
  .videogioithieu .video-info .clip {
    width: 100vw;
    margin: 0;
  }
  .videogioithieu .video-info .clip iframe {
    border-radius: 0px !important;
    width: 100%;
    padding-bottom: 40px;
  }
  .videogioithieu .video-info .btn {
    display: none;
  }
  .economic {
    padding: 5% 5% 10%;
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .economic .panel-group.faq-inner-accordion {
    padding: 0;
  }
  .economic .panel-group.faq-inner-accordion .panel-body {
    font-weight: 500;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 0;
  }
  .header .topheader .logo {
    margin-top: 3%;
    width: 0;
  }
  .header .topheader .logo img {
    margin: 0 auto;
  }
  .header .fixcung {
    padding: 0;
    height: 18vh;
  }
  .header .fixcung .logo {
    width: 30%;
    margin-top: 3%;
  }
}

.loader {
  width: 100%;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000000000;
  display: block;
  overflow: hidden;
}

.icon {
  font-size: 80px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  -webkit-animation-name: fade-out;
          animation-name: fade-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */